coverage==7.6.1
deprecation==2.1.0
flasgger==0.9.7.1
Flask==3.0.1
Flask-Cors==4.0.0
Flask-Mail==0.10.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.3.0
postgrest==0.16.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.2
pytz==2024.1
PyYAML==6.0.1
realtime==2.0.2
referencing==0.33.0
requests==2.31.0
rich==13.7.1
rpds-py==0.17.1
SQLAlchemy==2.0.25
storage3==0.7.7
StrEnum==0.4.15
supabase==2.7.4
supafunc==0.5.1
urllib3==2.2.0
Werkzeug==3.0.1

